	<div class="jumbotron col-sm-6 col-sm-offset-3">
		<ui-accordions>
			<ui-accordion title="Accordion 1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</ui-accordion>

			<ui-accordion title="Accordion 2">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</ui-accordion>

			<ui-accordion title="Accordion 3">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</ui-accordion>
			
			<ui-accordion title="Accordion 4">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</ui-accordion>

			<ui-accordion title="Accordion 5">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</ui-accordion>
		</ui-accordions>
		</hr>
		{{$id}}
		<div ui-alert title="Ops, aconteceu um problema." message="error"></div>
		<input class="form-control" type="text" data-ng-model="criterioDeBusca" placeholder="O que você está buscando">
		

		</div>
        <div class="panel-body text-center">
            <input type="text" ng-model="palitext" class="form-control" placeholder="Enter string/number">
        </div>
        <div class="panel-footer text-center">
            <button type="button" class="btn btn-success" ng-click="checkPalindrome();">Check</button>
        </div>
        <div ng-if="palicheck" class="alert" role="alert">esse!</div>
    </div>


	
		{{str}}
		<table class="table" ng-show="contatos.length > 0">
			<tr>
				<th>Selecione</th>
				<th href="" ng-click="ordenarPor('nome')"><a>Nome</a></th> <!-- video 5 filtros | uppercase-->
				<th href="" ng-click="ordenarPor('telefone')"><a>Telefone</a></th>
				<th>Operadora</th>
				<th>Cor</th>
				<th>Data</th>
			</tr>
			<tr ng-class="{selecionado: contato.selecionado, negrito: contato.selecionado}" data-ng-repeat="contato in contatos | filter: criterioDeBusca | orderBy: criterioDeOrdenacao:direcaoDaOrdenacao"> <!-- video 5 filtros | uppercase-->
				<td><input type="checkbox" ng-model="contato.selecionado"></input></td>
				{{contato._id}}
				<td><a href="#/detalhesContato/{{contato._id}}">{{contato.nome | name | ellipsis:10}} <!-- video 5 filtros | uppercase--></a></td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome}}</td>
				<td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div>
				</td>
				<td>{{contato.data | date: "dd/mm/yyyy hh:mm"}}</td> <!-- video 5 filtros | date -->
			</tr>
		</table>
		<div>
		<a class="btn btn-primary btn-block" href="#/novoContato">Novo Contato</a>
		<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>
		</div>
		{{contato}}
		{{operadoras}}
		
	</div>